# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# stuff

*.blend1
*.cap
*.rdc
*.xcf
*.ase

# secrets

/secrets.properties

# local files

local/
/renderdoc.bat
