# this file is only for forge, other targets use the AW

public-f net.minecraft.client.renderer.culling.Frustum f_194438_
public-f net.minecraft.client.renderer.culling.Frustum f_252531_
public-f net.minecraft.client.renderer.culling.Frustum f_112996_
public-f net.minecraft.client.renderer.culling.Frustum f_112998_
public-f net.minecraft.client.renderer.culling.Frustum f_252406_
public-f net.minecraft.client.renderer.culling.Frustum f_112997_
public net.minecraft.client.renderer.RenderStateShard f_110128_

# 1.20.1 yacl fix
public-f net.minecraft.client.gui.components.AbstractSelectionList m_6702_()Ljava/util/List;